<%- image = current_page.data[:image] %>

<% content_for :head do %>
    <meta property="og:title" content="<%= current_article.title %>">
    <meta property="og:type" content="article">
    <meta property="og:image" content="<%= image_url(image || "cover.jpg" ) %>">
    <meta property="og:url" content="<%= root_url.to_s + current_article.url %>">
    <meta property="og:description" content="<%= strip_tags current_article.summary %>">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="<%= current_article.title %>">
    <meta property="twitter:description" content="<%= strip_tags current_article.summary %>">
    <meta property="twitter:image" content="<%= image_url(image || "cover.jpg" ) %>">
<% end %>

<% wrap_layout :layout do %>
  <header id="<% if image %>site-head" style="background-image: url(<%= image_path image %>)<% else %>no-cover<% end %>" class="site-head post-2">
  	<div class="vertical">
  		<div role='banner' class="header_typesome">
        <a class="logo_typesome" href="/"><img src="<%= image_path('kenneth.jpg') %>" alt="Open Sourcery" /></a>
  			<h1 class="blogtitle_typesome">
        <a title="Open Sourcery" href='/'>
        Open Sourcery
  			</a>
  			</h1>
  		</div>
  	</div>
  </header>

  <main class="main_typesome" role="main">
  <hr class="pause <% if image %>remove<% end %>" />

	  <article class="article_typesome">

		<header class="postheader_typesome">
			<ul>
        <li><time class="date_typesome"><%= current_article.date.strftime("%A %e %b %Y") %></time></li>
        <li class="readtime_typesome"><%= reading_time current_article.body %></li>
        <%- tags = current_article.tags %>
        <% if tags.any? %>
				<li class="posttags_typesome"><%= tags.join(' | ') %></li>
        <% end %>
			</ul>

      <h1 class="posttitle_typesome"><%= current_article.title %></h1>
		</header>

		<div class="postcontent_typesome">
      <%= yield %>
		</div>

		<div class="back_typesome">
			<p class="go-back"><a class="fa fa-long-arrow-left" href="/"><span>Back</span></a></p>
      <p class="nav"><a class="fa fa-long-arrow-up" href="<%= current_article.url %>"><span>Back to top</span></a></p>
		</div>

    <div class="pagination_typesome">
      <nav class="pagination" role="navigation">
        <% prev_page = current_article.previous_article
           next_page = current_article.next_article %>
        <% if prev_page %>
          <a class="newer-posts" href="<%= prev_page.url %>"><span class="fa fa-chevron-left"></span> <%= prev_page.title %></a>
        <% end %>
        <% if next_page %>
          <a class="older-posts" href="<%= next_page.url %>"><%= next_page.title %> <span class="fa fa-chevron-right"></span></a>
        <% end %>
      </nav>
    </div>


    <footer class="postfooter_typesome">

      <div class="authorimage_typesome" style="background-image: url(<%= image_path 'kenneth.jpg' %>)"></div>
			<div class="author_typesome">
				<ul>
					<li><h4 class="authorname_typesome"><a href="/">Kenneth Kalmer</a></h4></li>
					<li><h5 class="authordata_typesome">Johannesburg, South Africa</h5></li>
				</ul>
        <p class="authorbio_typesome">
          Kenneth is a regular panelist on
          <a href="https://zadevchat.io">The ZADevChat Podcast</a>,
          where he's fortunate enough to have great conversations with some
          of the best & brightest in the South African tech community.
        </p>
			</div>

		  <section class="sharepost_typesome">
				<h4>Share this:</h4>
        <a class="fa fa-twitter-square" target="_blank" href="http://twitter.com/share?text=<%= current_article.title %>&url=http://www.opensourcery.co.za<%= current_article.url %>"><span class="hidden_typesome">Twitter</span></a>
        <a class="fa fa-facebook-square" target="_blank" href="http://www.facebook.com/sharer.php?u=http://www.opensourcery.co.za<%= current_article.url %>"><span class="hidden_typesome">Facebook</span></a>
        <a class="fa fa-google-plus-square" target="_blank" href="https://plus.google.com/share?url=http://www.opensourcery.co.za<%= current_article.url %>"><span class="hidden_typesome">Google+</span></a>
        <h4>Support me:</h4>
        <%= flattr_article(current_page) %>

    	</section>

		</footer>
	</article>


	<div class="disqusbox_typesome">
    <%= disqus %>
  </div>

  <%= partial "footer" %>
<% end %>
