<article class="article_typesome">

	<header class="postheader_typesome">
		<ul>
			<li class="date_typesome"><time><%= article.date.strftime("%A %e %b %Y") %></time></li>
      <li class="readtime_typesome"><%= reading_time article.body %></li>
      <%- tags = article.tags %>
      <% if tags.any? %>
			<li class="posttags_typesome">
      <%= tags.join(', ') %>
			</li>
      <% end %>
		</ul>

		<h2 class="posttitle_typesome">
      <%= link_to article.title, article, rel: "bookmark" %>
		</h2>
	</header>

	<div class="postcontent_typesome">
    <p><%= article.summary(250) %></p>
	</div>

	<footer class="excerptfooter_typesome" >
	</footer>

</article>
